
.search{
    width: 400px;
    display: block;
    margin: 0 auto;
    line-height: 24px;
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}
.logo {
    
    width: 300px;
    display: block;
    margin: 0 auto 25px auto;

}

.main{
    margin-top: 100px;
}

.btn {

    margin-top: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    background: #dfe1e5;
    padding: 10px 20px;
    margin-left:4px;
    margin-right: 4px;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
}